---
import "./card.css";
export interface Props {
    link?: string;
    image: string;
    classes: string;
}

const { link, image, classes } = Astro.props;
---

<a href={link} target="_blank" rel="noopener noreferrer">
    <div class={classes}>
        <img class="svgLogo" src={image} alt="Icon" />
    </div>
</a>
